body{
    margin: 0px;
    height: 100%;
    width: 100%;
    position: fixed;
}

.container{
    height: 100%;
}
.all-correct{
    /* overflow:scroll; */
    height:85%;
    width:91%;
    display: flex;
    flex-wrap: wrap;
    position:absolute;
}
  /* end scroller  */
.all-wrong{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    
}
.correct, .wrong{
    border: 2px solid black;
    background-color: white;
    border-radius: 50px;
    position: relative;
    /* position: sticky; */

}

.correct-words{
    border: 2px solid black;
    margin-top: 15px;
    border-radius: 50px;
    width: fit-content;
    height: fit-content;
    margin-right: 5px;
    padding: 5px;
    background-color: green;
    
}
.wrong-words{
    
    border: 2px solid black;
    margin-top: 15px;
    border-radius: 50px;
    width: fit-content;
    height: fit-content;
    margin-right: 5px;
    padding: 5px;
    background-color: red;
    
    
}
header{
    font-size: 20px;
    color: black;
    background-color: rosybrown;
    margin-top: 8px;
    padding: 4px;
    border-radius: 50px;
}

.word-box{
    position:absolute;
    top:0px;
    border: 2px solid black;
    background-color: orange;
    width: fit-content;
    height: fit-content;
    padding: 4px;
    border-radius: 50px;
    margin-left: 30%;
    
}
.main{
  position:relative;
  height: 400px;
  width: 100%;
  border: 2px solid grey;
    border-radius: 50px;
    background-color: skyblue;
    margin-bottom: 10px;
    
}
/* .input-word{
    position:absolute;
    top:0px;
    border: 2px solid black;
    border-radius: 50px;
    align-items: center;
    width: fit-content;
    padding: 5px;
    margin:auto;
} */

/* score-time */
.score-time{
    display: flex;
    justify-content: space-around;
}